
autom4te.cache/*
*/.moc/*
*/.obj/*
*/.deps/*
*/.ui/*
*.o
*.a
*~
autom4te.cache

src-extract/nspike_extract
src-extract/nspike_postimestamp
src-gui/libnspike.a
src-main/nspike
src-modules/nspike_matlab
src-modules/spike_daq
src-modules/spike_matlab
src-modules/spike_posdaq
src-modules/spike_process_posdata
src-modules/spike_save_data
src-user/user_program

