%%BEGINCONFIG
nslaves	0
master	hailstorm	11031
port	11001
port	11002
port	11003
port	11004
port	11005
port	11006
port	11007
port	11008
port	11009
port	11010
port	11011
port	11012
port	11013
port	11014
port	11015
port	11016
port	11017
port	11018
port	11019
port	11020
port	11021
port	11022
port	11023
port	11024
port	11025
datatype	hailstorm	CONTINUOUS	POSITION	DIGITALIO	
datadirectory	hailstorm	/data/ckemere
audio	0	100	600	0
audio	1	100	0	0
dspclock	1
colorfile	/usr/local/nspike/nspike_rgbcolor
posinput	-1
trackdarkpixels	0
sendalltrackedpixels	0
posthresh	230
posxflip	1
posyflip	0
mpegquality	80
mpegslices	2
videocodec	1
videogopsize	0
ndioports	4
dioport	0	input
dioport	1	output
dioport	2	output
dioport	3	output
nprograms	4
program	0	user_program  &

usergui	stim

enable_daq	1

dspinfo	0	1	hailstorm
dspinfo	1	1500	hailstorm
dspinfo	2	1500	hailstorm

% dspsampperpacket	1	2

eegtracelength	1.000000
calibrationfile	/usr/local/nspike/nspikecalfile
electmap	1	0	83
electmap	1	1	3
electmap	1	2	7
electmap	1	3	11
electmap	2	0	115
electmap	2	1	99
electmap	2	2	15
electmap	2	3	19
electmap	3	0	50
electmap	3	1	34
electmap	3	2	2
electmap	3	3	18
electmap	4	0	114
electmap	4	1	98
electmap	4	2	66
electmap	4	3	82
electmap	5	0	49
electmap	5	1	33
electmap	5	2	1
electmap	5	3	17
electmap	6	0	113
electmap	6	1	97
electmap	6	2	65
electmap	6	3	81
electmap	7	0	48
electmap	7	1	32
electmap	7	2	0
electmap	7	3	16
electmap	8	0	112
electmap	8	1	96
electmap	8	2	64
electmap	8	3	80
electmap	9	0	87
electmap	9	1	23
electmap	9	2	27
electmap	9	3	31
electmap	10	0	119
electmap	10	1	103
electmap	10	2	35
electmap	10	3	39
electmap	11	0	54
electmap	11	1	38
electmap	11	2	6
electmap	11	3	22
electmap	12	0	118
electmap	12	1	102
electmap	12	2	70
electmap	12	3	86
electmap	13	0	53
electmap	13	1	37
electmap	13	2	5
electmap	13	3	21
electmap	14	0	117
electmap	14	1	101
electmap	14	2	69
electmap	14	3	85
electmap	15	0	52
electmap	15	1	36
electmap	15	2	4
electmap	15	3	20
electmap	16	0	116
electmap	16	1	100
electmap	16	2	68
electmap	16	3	84
electmap	17	0	63
hostname	hailstorm
	channel	0
		dspnum	1
		dspchan		83
		number		1
		electchan	0
		depth		69
		refelect	0
		refchan		0
		thresh		40
		maxdispval	65535
		filter		1 400
		color		2
	channel	1
		dspnum	1
		dspchan		115
		number		2
		electchan	0
		depth		102
		refelect	0
		refchan		0
		thresh		40
		maxdispval	65535
		filter		1 400
		color		1
	channel	2
		dspnum	1
		dspchan		50
		number		3
		electchan	0
		depth		93
		refelect	0
		refchan		0
		thresh		40
		maxdispval	65535
		filter		1 400
		color		2
	channel	3
		dspnum	1
		dspchan		114
		number		4
		electchan	0
		depth		114
		refelect	0
		refchan		0
		thresh		40
		maxdispval	65535
		filter		1 400
		color		1
	channel	4
		dspnum	1
		dspchan		49
		number		5
		electchan	0
		depth		97
		refelect	0
		refchan		0
		thresh		40
		maxdispval	65535
		filter		1 400
		color		2
	channel	5
		dspnum	1
		dspchan		97
		number		6
		electchan	1
		depth		90
		refelect	0
		refchan		0
		thresh		40
		maxdispval	65535
		filter		1 400
		color		1
	channel	6
		dspnum	1
		dspchan		48
		number		7
		electchan	0
		depth		86
		refelect	0
		refchan		0
		thresh		40
		maxdispval	65535
		filter		1 400
		color		2
	channel	7
		dspnum	1
		dspchan		64
		number		8
		electchan	2
		depth		83
		refelect	0
		refchan		0
		thresh		40
		maxdispval	65535
		filter		1 400
		color		1
	channel	8
		dspnum	1
		dspchan		87
		number		9
		electchan	0
		depth		77
		refelect	0
		refchan		0
		thresh		40
		maxdispval	65535
		filter		1 400
		color		5
	channel	9
		dspnum	1
		dspchan		119
		number		10
		electchan	0
		depth		117
		refelect	0
		refchan		0
		thresh		40
		maxdispval	65535
		filter		1 400
		color		4
	channel	10
		dspnum	1
		dspchan		54
		number		11
		electchan	0
		depth		120
		refelect	0
		refchan		0
		thresh		40
		maxdispval	65535
		filter		1 400
		color		5
	channel	11
		dspnum	1
		dspchan		118
		number		12
		electchan	0
		depth		106
		refelect	0
		refchan		0
		thresh		40
		maxdispval	65535
		filter		1 400
		color		4
	channel	12
		dspnum	1
		dspchan		53
		number		13
		electchan	0
		depth		85
		refelect	0
		refchan		0
		thresh		40
		maxdispval	65535
		filter		1 400
		color		5
	channel	13
		dspnum	1
		dspchan		117
		number		14
		electchan	0
		depth		102
		refelect	0
		refchan		0
		thresh		40
		maxdispval	65535
		filter		1 400
		color		4
	channel	14
		dspnum	1
		dspchan		52
		number		15
		electchan	0
		depth		109
		refelect	0
		refchan		0
		thresh		40
		maxdispval	65535
		filter		1 400
		color		5
	channel	15
		dspnum	1
		dspchan		116
		number		16
		electchan	0
		depth		103
		refelect	0
		refchan		0
		thresh		40
		maxdispval	65535
		filter		1 400
		color		4
	channel	16
		dspnum	2
		dspchan		63
		number		17
		electchan	0
		depth		0
		refelect	0
		refchan		0
		thresh		10000
		maxdispval	65500
		filter		1 11000
		color		6
%%ENDCONFIG
